/* *{
	border: 1px solid black;
} */

/*body{
	background-image: url("bg.jpg");
}*/
.col-sm-3 img{
	width: 65%;
	height: 95%;
	margin: 10%;
}

.col-sm-2 ul{
	text-align: center;
}

nav li{
	margin-top: 10%;
}

nav h4{
	text-align: center;
}

#main{
	background: #f2f2f2;
}

.col-sm-2{
	margin-top: 1%;
}

.col-sm-12 h1{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	background: #d9d9d9;
}

.col-sm-12{
	background: #333333;
	text-align: center;
}

.col-sm-12 img{
	position: inline;
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	width: 3%;
	height: 3%;

}
#foot .col-sm-12{
	margin-top: 0.3%;
}

#pics img{
	position: inline;
	width:25%;    
    height:45%;
}


.col-sm-5 h3{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-weight: bold;
}

li a{
	font-family: cursive;
}

navbar navbar-inverse{
	width: 100%;
	height: 100%;
}

span{
	color: white;
	font-family: cursive;
	font-weight: bold;
}
